.mat-option .mat-option-text img {
    width: 40px;
    height: 40px;
}

.mat-option .mat-option-text span {
    font-size: 2em;
    padding: 0 0 10px 10px;
    margin: 0 0 10px 0 !important;
    white-space: nowrap;
}

.mat-option {
    line-height: 0!important;
}

::ng-deep .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 680px !important;
    color: black !important;
}