<app-header></app-header>

<div class="row text-white">
    <div class="col-lg-8">

        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>State</mat-label>
                <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option (onSelectionChange)="brandSelected($event,state)" *ngFor="let state of filteredStates | async" [value]="state.name">
                        <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
                        <span>{{state.name}}</span> |
                        <small>code: {{state.id}}</small>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
</div>





<!-- 

<mat-form-field class="example-full-width">

    <input matInput placeholder="Search employee" [matAutocomplete]="auto" [formControl]="employeeCtrl">

    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let employee of filteredEmployee | async" [value]="employee.name">

            <img class="example-option-img" aria-hidden [src]="employee.imageUrl" height="25">
            <span>{{employee.name}} [{{employee.jobtype}}]</span>
            <small>Email: {{employee.email}}</small>
            <small>Address: {{employee.address}}</small>

        </mat-option>
    </mat-autocomplete>

</mat-form-field> -->

<app-footer></app-footer>