<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Login</h3>
                            <p class="text-muted mb-4">Therichpost.com</p>



                            <h1 class="text-center">Register with bootstrap popup</h1>
                            <button type="button" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" (click)="show()">popup</button>

                            <!-- Creates the bootstrap modal where the image will appear -->
                            <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Register</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>FirstName</label>
                                                            <input type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                                                            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                                                <div *ngIf="f.firstname.errors.required">FirstName is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                                <div *ngIf="f.email.errors.required">Email is required</div>
                                                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Mobile</label>
                                                            <input type="text" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                                                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                                                <div *ngIf="f.mobile.errors">Mobile must be Valid and at least 10 digits</div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Password</label>
                                                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                                <div *ngIf="f.password.errors.required">Password is required</div>
                                                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="container py-5">
                                <form class="example-form" [formGroup]="userForm">

                                    <div class="address-container" *ngFor="let group of addressArray.controls; let i = index;" formArrayName="address">
                                        <div class="form-group jumbotron" [formGroupName]='i'>
                                            <input class="form-control mb-3" placeholder="Street" value="" formControlName="street">
                                            <input class="form-control mb-3" placeholder="City" value="" formControlName="city">
                                            <input class="form-control mb-3" placeholder="State" value="" formControlName="state">
                                            <button *ngIf="i>0" class="btn btn-danger float-end mb-3" (click)="removeAddress(i)">Remove address block</button>

                                        </div>
                                    </div>
                                    <div class="form-row org-desc-parent-margin">
                                        <button class="btn btn-primary" (click)="addAddress()">Add More Address +</button>

                                    </div>
                                </form>
                            </div>



                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Login</button>
                                <div class="text-center d-flex justify-content-between mt-4">
                                    <p>Code by
                                        <a href="https://therichpost.com/" class="font-italic text-muted">
                                            <u>Jassa</u></a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End -->
            </div>
        </div>
        <!-- End -->
    </div>



</div>