<div class="container py-5">

    <div class="row">
        <div class="col-md-12 col-md-offset-3">
            <form [formGroup]="personalDetails" id="msform">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Personal Details</li>
                    <li [ngClass]="step>=2 ? 'active' : 'inactive'">Social Profiles</li>
                    <li [ngClass]="step==3 ? 'active' : 'inactive'">Account Setup</li>
                </ul>

                <fieldset *ngIf="step == 1">
                    <h2 class="fs-title">Personal Details</h2>
                    <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': personal_step && personal.name.errors }" placeholder="Full Name" />
                    <div *ngIf="personal_step && personalDetails.controls.name.errors">
                        <div *ngIf="personal.name.errors?.required">Name is required</div>
                    </div>
                    <input type="text" formControlName="email" name="email" placeholder="Email" />
                    <div *ngIf="personal_step && personalDetails.controls.email.errors">
                        <div *ngIf="personal.email.errors?.required">Email is required</div>
                    </div>
                    <input type="text" formControlName="phone" name="phone" placeholder="Phone" />
                    <div *ngIf="personal_step && personalDetails.controls.phone.errors">
                        <div *ngIf="personal.phone.errors?.required">Phone is required</div>
                    </div>
                    <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />
                </fieldset>




            </form>
            <form [formGroup]="addressDetails" id="msform">
                <fieldset *ngIf="step == 2">
                    <h2 class="fs-title">Address Details</h2>
                    <input type="text" formControlName="city" placeholder="City" />
                    <div *ngIf="address_step && addressDetails.controls.city.errors">
                        <div *ngIf="address.city.errors?.required">City is required</div>
                    </div>
                    <textarea rows="5" cols="5" formControlName="address" placeholder="address"></textarea>
                    <div *ngIf="address_step && addressDetails.controls.address.errors">
                        <div *ngIf="address.address.errors?.required">Address is required</div>
                    </div>
                    <input type="text" formControlName="pincode" placeholder="Pincode" />
                    <div *ngIf="address_step && addressDetails.controls.pincode.errors">
                        <div *ngIf="address.pincode.errors?.required">Pincode is required</div>
                    </div>
                    <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
            </form>
            <form [formGroup]="educationalDetails" id="msform">
                <fieldset *ngIf="step == 3">
                    <h2 class="fs-title">Educational Details</h2>
                    <input type="text" formControlName="highest_qualification" placeholder="Highest Qualification" />
                    <div *ngIf="education_step && educationalDetails.controls.highest_qualification.errors">
                        <div *ngIf="education.highest_qualification.errors?.required">Highest qualification is required</div>
                    </div>
                    <input type="text" formControlName="university" placeholder="University" />
                    <div *ngIf="education_step && educationalDetails.controls.university.errors">
                        <div *ngIf="education.university.errors?.required">University is required</div>
                    </div>
                    <input type="text" formControlName="total_marks" placeholder="Total Marks" />
                    <div *ngIf="education_step && educationalDetails.controls.total_marks.errors">
                        <div *ngIf="education.total_marks.errors?.required">Total marks is required</div>
                    </div>
                    <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    <input (click)="submit()" type="submit" name="submit" class="submit action-button" value="Submit" />
                </fieldset>
            </form>
        </div>
    </div>
</div>