<app-header></app-header>


<!-- Hero Banner-->
<section class="hero-home bg-cover bg-center" style="background: url(assets/images/home-banner.d5d76471.jpg)">
    <div class="container index-forward py-5 mb-5">
        <div class="row text-white">
            <div class="col-lg-8">
                <h1 class="text-uppercase mb-0 text-shadow">MEDI medical group</h1>
                <p class="h5 my-4 text-shadow">Provide best quality healthcare for you</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p><a class="btn btn-light text-primary px-5" href="#">View details</a>
            </div>
        </div>
    </div>
</section>
<!-- Info Section-->
<section class="info p-0 bg-light">
    <div class="container bg-white">
        <div class="row py-5 border-top border-md border-primary">
            <div class="col-lg-4 border-right mb-4 mb-lg-0">
                <div class="px-4">
                    <p class="text-primary mb-0 font-weight-normal">Qualified Doctors</p>
                    <h3 class="h5">Where people come first</h3>
                    <p class="text-muted mb-0 text-small">Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit auctor aliquet. Aenean sollique ancitudi.</p>
                </div>
            </div>
            <div class="col-lg-4 border-right mb-4 mb-lg-0">
                <div class="px-4">
                    <p class="text-primary mb-0 font-weight-normal">24 hour service</p>
                    <h3 class="h5">Highest Quality Ever</h3>
                    <p class="text-muted mb-0 text-small">Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit auctor aliquet. Aenean sollique ancitudi.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="px-4">
                    <p class="text-primary mb-0 font-weight-normal">We are here for you</p>
                    <h3 class="h5">Emergency Department</h3>
                    <p class="text-muted mb-0 text-small">Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit auctor aliquet. Aenean sollique ancitudi.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="about bg-light pt-0">
    <div class="container text-center">
        <h2 class="text-uppercase lined lined-center">Welcome to <span class="text-primary">MEDI </span>Clinic</h2>
        <p class="text-muted">Nulla tristique ipsum in quam. Integer ac elit. Duis turpis faucibus non</p>
        <div class="row pt-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><i class="fas fa-stethoscope fa-3x text-primary mb-3"></i>
                <h2 class="h5">HealthCare Professionals</h2>
                <p class="text-muted px-lg-3 mb-0">Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit auctor aliquet. Aenean.</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0"><i class="fas fa-microscope fa-3x text-primary mb-3"></i>
                <h2 class="h5">Medical Excellence</h2>
                <p class="text-muted px-lg-3 mb-0">Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit auctor aliquet. Aenean.</p>
            </div>
            <div class="col-lg-4"><i class="fas fa-syringe fa-3x text-primary mb-3"></i>
                <h2 class="h5">Latest Technologies</h2>
                <p class="text-muted px-lg-3 mb-0">Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit auctor aliquet. Aenean.</p>
            </div>
        </div>
    </div>
</section>
<!-- Statistics Section-->
<section class="statistics py-5 bg-primary">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                    <h2 class="text-lg mr-3 mb-0">15</h2>
                    <p class="lead line-height-sm mb-0">years of <br>experience </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                    <h2 class="text-lg mr-3 mb-0">79</h2>
                    <p class="lead line-height-sm mb-0">visited <br>conferences </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                    <h2 class="text-lg mr-3 mb-0">452</h2>
                    <p class="lead line-height-sm mb-0">smiling <br>clients </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                    <h2 class="text-lg mr-3 mb-0">14</h2>
                    <p class="lead line-height-sm mb-0">master <br>certifications </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Prices Section-->
<section class="prices">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-4">
                <h2 class="h5">We Value Your Family's Health and Your Time</h2>
            </div>
            <div class="col-lg-8">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.</p>
            </div>
        </div>
        <ul class="nav nav-pills mb-3 flex-column flex-sm-row text-center" id="pills-tab" role="tablist">
            <li class="nav-item flex-sm-fill"><a class="nav-link active" id="pills-cosmetic-tab" data-toggle="pill" href="#pills-cosmetic" role="tab" aria-controls="pills-cosmetic" aria-selected="true">Cosmetic Medicine</a></li>
            <li class="nav-item flex-sm-fill"><a class="nav-link" id="pills-Medications-tab" data-toggle="pill" href="#pills-Medications" role="tab" aria-controls="pills-Medications" aria-selected="false">Medications</a></li>
            <li class="nav-item flex-sm-fill"><a class="nav-link" id="pills-Physician-tab" data-toggle="pill" href="#pills-Physician" role="tab" aria-controls="pills-Physician" aria-selected="false">Physician</a></li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane py-4 fade show active" id="pills-cosmetic" role="tabpanel" aria-labelledby="pills-cosmetic-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Surgery</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$150</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Cosmetic Dentistry</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$250</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Rotavirus Test</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$175</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">SurgerEye Examination</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$225</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Rotavirus Test</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$175</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">SurgerEye Examination</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$225</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane py-4 fade" id="pills-Medications" role="tabpanel" aria-labelledby="pills-Medications-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Surgery</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$150</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Cosmetic Dentistry</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$250</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Rotavirus Test</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$175</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">SurgerEye Examination</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$225</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Rotavirus Test</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$175</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane py-4 fade" id="pills-Physician" role="tabpanel" aria-labelledby="pills-Physician-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Surgery</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$150</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Cosmetic Dentistry</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$250</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Rotavirus Test</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$175</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">SurgerEye Examination</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$225</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">Rotavirus Test</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$175</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="mb-0">SurgerEye Examination</h6>
                            <hr class="dotted-separator mx-3 flex-grow-1 my-0">
                            <h6 class="text-primary mb-0">$225</h6>
                        </div>
                        <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Departments Section-->
<section class="departments pb-0 bg-light">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-5 d-none d-lg-block"><img class="img-fluid" src="assets/images/doctor.0875b969.png" alt="doctor"></div>
            <div class="col-lg-7 pb-5 mb-5">
                <h2 class="text-uppercase lined">Our <span class="text-primary">Departments</span></h2>
                <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetuer. Proin gravida nibh vel velit auctor aliquetenean.</p>
                <div class="accordion" id="accordionExample">
                    <div class="card mb-1">
                        <div class="card-header p-0" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link py-3 px-4 h6 mb-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-tooth fa-fw mr-3 text-primary"></i>Dentistry</button>
                            </h2>
                        </div>
                        <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body bg-light px-4">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.</p>
                                <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header p-0" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed py-3 px-4 h6 mb-0" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fas fa-brain fa-fw mr-3 text-primary"></i>Neurology</button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body bg-light px-4">
                                <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header p-0" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed py-3 px-4 h6 mb-0" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="fas fa-dna fa-fw mr-3 text-primary"></i>Blood Analysis</button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body bg-light px-4">
                                <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.</p>
                            </div>
                        </div>
                    </div>
                </div><a class="btn btn-block btn-primary" href="#">Explore all departments        </a>
            </div>
        </div>
    </div>
</section>
<!-- Service Section-->
<section class="services">
    <div class="container text-center">
        <h2 class="text-uppercase lined lined-center">Our <span class="text-primary">Services</span></h2>
        <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetuer. Proin gravida nibh vel velit auctor aliquetenean.</p>
        <div class="row">
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card services-item border-0">
                    <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                        <h2 class="h6 mb-0 services-item-heading">Qualified Facilities</h2>
                        <div class="services-icon my-4"><i class="fas fa-procedures fa-2x"></i></div>
                        <p class="services-item-text text-small mb-0">Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                    </div>
                </div>
            </div>
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card services-item border-0">
                    <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                        <h2 class="h6 mb-0 services-item-heading">Top Level Doctors</h2>
                        <div class="services-icon my-4"><i class="fas fa-user-md fa-2x"></i></div>
                        <p class="services-item-text text-small mb-0">Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                    </div>
                </div>
            </div>
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card services-item border-0">
                    <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                        <h2 class="h6 mb-0 services-item-heading">Dedicated Patient Care</h2>
                        <div class="services-icon my-4"><i class="fas fa-notes-medical fa-2x"></i></div>
                        <p class="services-item-text text-small mb-0">Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                    </div>
                </div>
            </div>
            <!-- Services Item-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card services-item border-0">
                    <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                        <h2 class="h6 mb-0 services-item-heading">24/7 Emergency</h2>
                        <div class="services-icon my-4"><i class="fas fa-ambulance fa-2x"></i></div>
                        <p class="services-item-text text-small mb-0">Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Doctors Section-->
<section class="doctors bg-light">
    <div class="container text-center">
        <h2 class="text-uppercase lined lined-center">Our <span class="text-primary">Doctors</span></h2>
        <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetuer. Proin gravida nibh vel velit auctor aliquetenean.</p>
        <div class="row">
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card doctor border-0">
                    <div class="card-body p-0 shadow-sm">
                        <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="assets/images/doctor-1.8c56c2fe.png" alt="">
                            <div class="doctor-overlay">
                                <ul class="list-inline mb-0 doctor-social">
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-4">
                            <h6 class="mb-0">Dr Jassa Singh</h6>
                            <p class="text-muted text-small mb-0">Senior Dr. at Delmont</p>
                        </div><a class="btn btn-block btn-primary" href="#">Make appointmet</a>
                    </div>
                </div>
            </div>
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card doctor border-0">
                    <div class="card-body p-0 shadow-sm">
                        <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="assets/images/doctor-2.513be8f2.png" alt="">
                            <div class="doctor-overlay">
                                <ul class="list-inline mb-0 doctor-social">
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-4">
                            <h6 class="mb-0">Dr Ajay</h6>
                            <p class="text-muted text-small mb-0">Cardiologist Specialist</p>
                        </div><a class="btn btn-block btn-primary" href="#">Make appointmet</a>
                    </div>
                </div>
            </div>
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card doctor border-0">
                    <div class="card-body p-0 shadow-sm">
                        <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="assets/images/doctor-3.11683e5a.png" alt="">
                            <div class="doctor-overlay">
                                <ul class="list-inline mb-0 doctor-social">
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-4">
                            <h6 class="mb-0">Dr Jas</h6>
                            <p class="text-muted text-small mb-0">Neurology Specialist</p>
                        </div><a class="btn btn-block btn-primary" href="#">Make appointmet</a>
                    </div>
                </div>
            </div>
            <!-- Doctor-->
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <div class="card doctor border-0">
                    <div class="card-body p-0 shadow-sm">
                        <div class="position-relative"><img class="img-fluid border-top border-md border-primary" src="assets/images/doctor-4.a9621be9.png" alt="">
                            <div class="doctor-overlay">
                                <ul class="list-inline mb-0 doctor-social">
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a class="doctor-social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-4">
                            <h6 class="mb-0">Dr Harjas</h6>
                            <p class="text-muted text-small mb-0">Senior Рathologist</p>
                        </div><a class="btn btn-block btn-primary" href="#">Make appointmet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Opening Hours-->
<section class="opening-hours overflow-hidden">
    <div class="container">
        <h2 class="text-uppercase lined">Working <span class="text-primary">Hours</span></h2>
        <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetuer. Proin gravida nibh vel velit auctor aliquetenean.</p>
        <div class="row align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card shadow-sm border-0">
                    <div class="card-body border-top border-md border-primary p-5">
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex align-items-center justify-content-between pb-3 px-4"><strong class="h6 mb-0">Monday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                            <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong class="h6 mb-0">Tuesday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                            <li class="d-flex align-items-center justify-content-between py-3 px-4"><strong class="h6 mb-0">Wednesday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                            <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong class="h6 mb-0">Friday</strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                            <li class="d-flex align-items-center justify-content-between py-3 px-4"><strong class="h6 mb-0">Saturday</strong><strong class="h6 mb-0 text-uppercase text-primary">Closed</strong></li>
                            <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong class="h6 mb-0">Sunday</strong><strong class="h6 mb-0 text-uppercase text-primary">Closed</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center"><i class="fas fa-first-aid fa-4x text-primary mb-4">   </i>
                <h3 class="h4">Emergency Case</h3>
                <p class="text-muted mb-3 px-lg-5">If you need a doctor urgently outside of medicenter opening hours, call emergency appointment number for emergency service.</p>
                <div class="text-primary">
                    <a class="btn btn-outline-primary h5 px-4 py-3" href="tel:080024667921"> <i class="fas fa-phone-square mr-2"></i>+ 0000 0000 0000</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section-->
<section class="contact py-5 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div class="contact-icon"><i class="fas fa-phone"></i></div>
                    <div class="ml-3">
                        <h3 class="h5 mb-0">0000 0000 0000</h3>
                        <p class="small mb-0">Have a question? call us now</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div class="contact-icon"><i class="far fa-envelope"></i></div>
                    <div class="ml-3">
                        <h3 class="h5 mb-0">info@domain.com</h3>
                        <p class="small mb-0">Need support? Drop us an email</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center">
                    <div class="contact-icon"><i class="far fa-clock"></i></div>
                    <div class="ml-3">
                        <h3 class="h5 mb-0">Mon – Fri 07:00 – 21:00</h3>
                        <p class="small mb-0">We are open On</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







<app-footer></app-footer>